@inherits LayoutComponentBase

<PageTitle>TWLS</PageTitle>

<div class="page">
    <div class="sidebar">
        <TWLS.Components.Hethong.Menu />
    </div>

    <div>
        @Body
    </div>

</div>
