@page "/tin-tuc"  

<div class="khung-tintuc">
    <div class="banner">
        <img src="../images/tintuc/banner.png" />
    </div>
      <div class="layout-khung">
            <div class="layout-khung-conent">
                <div class="content">

                  
                    <div class="title">
                        KIẾN THỨC THAM KHẢO
                    </div>

                    <div class="khung-conent-tintuc">

                    <div class="items">
                        <img src="../images/tailieu_thamkhao/icon_baohiemnhantho.png" />
                            <div class="content-sub">
                                TỔNG QUAN VỀ BẢO HIỂM NHÂN THỌ
                            </div>
                    </div>


                    <div class="items">
                        <img src="../images/tailieu_thamkhao/loi-ich-bao-hiem-nhan-tho.png" />
                        <div class="content-sub">
                            LỢI ÍCH CỦA BẢO HIỂM NHÂN THỌ
                        </div>
                    </div>

                        <div class="items">
                        <img src="../images/tailieu_thamkhao/bao-hiem-benh-ung-thu.png" />
                        <div class="content-sub">
                            TỔNG QUAN VỀ BẢO HIỂM NHÂN THỌ
                        </div>
                    </div>

                    <div class="items">
                        <img src="../images/tailieu_thamkhao/huong-dan-tuyen-dung-tu-van.png" />
                        <div class="content-sub">
                            TỔNG QUAN VỀ BẢO HIỂM NHÂN THỌ
                        </div>
                    </div>
                     
                    </div>

                </div>
            </div>
    </div>
</div>