
<div class="khung-footer">

    <div class="absolute">
    <div class="layout-khung">
        <div class="layout-khung-conent">
            <div class="content">
                <div class="left">
                    <div class="img">
                        <img src="../images/hethong/logo.png" />
                        <br />
                        
                    </div>
                    

                </div>

                <div class="right">

                  @*  <div class="title"></div>*@
                    
                    <table>
                        <tr>
                            <td><i class="fa fa-home"></i></td>
                            <td>CTY THE WORLD LINK</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-map-marker"></i></td>
                            <td>P402, Tòa nhà NNC, 16bis Nguyễn Đình Chiểu, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</td>
                        </tr>

                   @*     <tr>
                            <td><i class="fa fa-phone"></i></td>
                            <td>địa </td>
                        </tr>*@

                        <tr>
                            <td><i class="fa fa-phone"></i></td>
                            <td><a href="tel:0888702277" class="class="Blondie">0888702277</a></td>
                        </tr>

                        <tr>
                            <td><i class="fa fa-envelope"></i></td>
                            <td>twl@theworldlink.vn</td>
                        </tr>

                        @*<tr>
                            <td><i class="fa fa-save"></i></td>
                            <td>địa chỉ</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-save"></i></td>
                            <td>địa chỉ</td>
                        </tr>*@
                    </table>

                </div>
            </div>
         </div>
    </div>
    </div>
</div>
 