@page "/kpi/so-luong-hop-dong"
<link href="../css/kpi/kpipages.css" rel="stylesheet" />
<link href="../css/kpi/kpi-content-details.css" rel="stylesheet" />
<div class="khung-kpi" data-aos="fade-up">

    <div class="banner">
        <img src="../images/page_kpi/KPI_soluong_hopdong.png" />
    </div>

    <div class="khung-conent">
        <div class="layout-khung">
            <div class="layout-khung-conent">
                <div class="content">
                    <div class="title">KPI SỐ HỢP ĐỒNG/TƯ VẤN</div>

                    <div class="khung-kpi-khac">
 
                        <div class="kpi-chitiet">
                            <div class="content-details">



                                <div class="items-content">
                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-soluonghoso_datduoc.png" />
                                        <span>1. Tăng trưởng doanh thu hàng tháng</span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_soluong_hopdong_icon/02_ty_suat_loi_nhuan.png" />
                                        <span>2. Tỷ suất lợi nhuận trung bình </span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_soluong_hopdong_icon/03_so_luong_don_hang.png" />
                                        <span>3. Số lượng đơn hàng hàng tháng </span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_soluong_hopdong_icon/04_co_hoi_ban_hang.png" />
                                        <span>4. Các cơ hội bán hàng </span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_soluong_hopdong_icon/05_doanh_thu_muc_tieu.png" />
                                        <span>5. Doanh thu mục tiêu </span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>6. Tỷ lệ chốt đơn hàng</span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>7. Giá trị đơn hàng trung bình</span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>8. Số cuộc gọi hoặc email hàng tháng trên một nhân viên</span>
                                    </div>



                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>9. Số lượng đơn hàng trên một nhân viên</span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>10. Hiệu suất sản phẩm</span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>11. Doanh số dựa theo phương thức liên lạc </span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>12. Độ lớn/Độ dài trung bình của một đơn hàng mới</span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>13. Tỷ số đơn hàng thành công trên số khách hàng tiềm năng</span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>14. Chi phí trung bình cho một khách hàng tiềm năng</span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>15. Tỷ lệ giữ chân khách hàng và Tỷ lệ huỷ đơn hàng</span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>16. Giá trị khách hàng</span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>17. Thời gian chuyển đổi trung bình</span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>18. Tỷ số MRR mới và MRR mở rộng</span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>19. Số cuộc gọi tiếp cận và demo hàng tháng</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     

    <WEB_CTY.Components.Baohiem.Baohiem_lienhe /> 

</div>




<div class="khung-item-kpis">

    <div class="title">
        <div class="title-content">
            KPI KHÁC
        </div>

    </div>
    <div class="kpi-chitiet">

        <div class="khung-items">


            <div class="items">
                <a href="/kpi/tuyen-dung">
                    <div class="items-layer">
                        <img src="../images/items/items_tuyendung.png" />

                        <br />
                        <div class="title">
                            TUYỂN DỤNG
                        </div>
                        <div class="items-content">
                            <div>- Khó khăn trong việc thu hút nguồn ứng viên tiềm năn...!</div>

                            <div>- Khó khăn trong việc quản lý hồ sơ ứng viên...!</div>

                            <div>- Sự cạnh tranh nội bộ trong ngành và các ngành khác...!</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="items">
                <a href="/kpi/ty-le-hoat-dong">
                    <div class="items-layer">
                        <img src="../images/items/items_tilehoatdong.png" />
                        <br />
                        <div class="title">
                            TỶ LỆ HOẠT ĐỘNG
                        </div>
                        <div class="items-content">
                            <div>- Tỷ lệ hệ thống đại lý làm việc bán thời gian nhiều</div>

                            <div>- Hệ thống quản lý không thể sát sao đến từng thành viên</div>

                            <div>- Các chương trình hướng dẫn, đào tạo, công cụ cũng còn hạn chế... </div>

                        </div>
                    </div>
                </a>
            </div>


            <div class="items">
                <a href="/kpi/do-lon-hop-dong">
                    <div class="items-layer">
                        <img src="../images/items/items_dolonhopdong.png" />
                        <br />
                        <div class="title">
                            ĐỘ LỚN HỢP ĐỒNG
                        </div>
                        <div class="items-content">
                            <div>- Đội ngũ tư vấn toàn thời gian thấp (team full quá ít)</div>
                            <div>- Công cụ hỗ trợ cho triển khai bán hàng</div>
                            <div>- Kiến thức, kỹ năng trang bị cho đội ngũ tư vấn mới chưa đủ để tự lập, tư vấn xuống SA sau vài tháng</div>
                        </div>
                    </div>
                </a>
            </div>


        </div>

    </div>
</div>
