@page "/kpi/do-lon-hop-dong"
<link href="../css/kpi/kpipages.css" rel="stylesheet" />
<link href="../css/kpi/kpi-content-details.css" rel="stylesheet" />
<div class="khung-kpi">

    <div class="banner">
        <img src="../images/page_kpi/kpi_dolonhopdong.png" />
    </div>

    <div class="khung-conent">
        <div class="layout-khung">
            <div class="layout-khung-conent">
                <div class="content">
                    <div class="title">KPI TUYỂN DỤNG</div>

                    <div class="khung-kpi-khac">

                    
                        <div class="kpi-chitiet">

                            <div class="content-details">



                                <div class="items-content">
                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-soluonghoso_datduoc.png" />
                                        <span>1. Mức tăng trưởng doanh thu hàng tháng</span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-soluong-nhansu.png" />
                                        <span>2. Tiếp cận khách hàng ( Số cuộc gọi và email của mỗi tư vấn bán hàng )</span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-icon-05.png" />
                                        <span>3. Cơ hội bán hàng được tạo ra </span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-chiphi-05.png" />
                                        <span>4. Số cuộc gọi tiếp cận và demo đã thực hiện mỗi tháng </span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-tyle-ungvien.png" />
                                        @*<img src="../images/image_tuyendung_icon/tuyendung-icon-05.png" />*@
                                        <span>5. Tỷ lệ chuyển đổi khách hàng tiềm năng </span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>6. Doanh thu theo từng phương thức kinh doanh</span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>7. Thời gian chuyển đổi trung bình</span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>8. Chi phí phải bỏ ra để có được một khách hàng mới</span>
                                    </div>



                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>9. Giá trị từ khách hàng </span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>10. Chỉ số MRR mới và mở rộng </span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>11. Giá trị của toàn bộ phễu bán hàng </span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>12. Doanh số mục tiêu </span>
                                    </div>


                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>13. Doanh thu theo từng khu vực, văn phòng kinh doanh </span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>14. Giá trị trung bình của từng hợp đồng  </span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>15. Tỷ suất lợi nhuận bình quân  </span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>16. Tỷ lệ giữ chân được khách hàng và tỷ lệ mất khách hàng  </span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>17. Hiệu suất sản phẩm </span>
                                    </div>

                                    <div class="items">
                                        <img src="../images/image_tuyendung_icon/tuyendung-hieusuat-05.png" />
                                        <span>18. Hiệu suất và thành tích của đại diện bán hàng  </span>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <WEB_CTY.Components.Baohiem.Baohiem_lienhe />


     





</div>

 


<div class="khung-item-kpis">

    <div class="title">
        <div class="title-content">
            KPI KHÁC
        </div>

    </div>
    <div class="kpi-chitiet">

        <div class="khung-items">
            <div class="items">
                <a href="/kpi/tuyen-dung">
                    <div class="items-layer">
                        <img src="../images/items/items_tuyendung.png" />

                        <br />
                        <div class="title">
                            TUYỂN DỤNG
                        </div>
                        <div class="items-content">
                            <div>- Khó khăn trong việc thu hút nguồn ứng viên tiềm năn...!</div>

                            <div>- Khó khăn trong việc quản lý hồ sơ ứng viên...!</div>

                            <div>- Sự cạnh tranh nội bộ trong ngành và các ngành khác...!</div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="items">
                <a href="/kpi/ty-le-hoat-dong">
                    <div class="items-layer">
                        <img src="../images/items/items_tilehoatdong.png" />
                        <br />
                        <div class="title">
                            TỶ LỆ HOẠT ĐỘNG
                        </div>
                        <div class="items-content">
                            <div>- Tỷ lệ hệ thống đại lý làm việc bán thời gian nhiều</div>

                            <div>- Hệ thống quản lý không thể sát sao đến từng thành viên</div>

                            <div>- Các chương trình hướng dẫn, đào tạo, công cụ cũng còn hạn chế... </div>

                        </div>
                    </div>
                </a>
            </div>

            <div class="items">
                <a href="/kpi/so-luong-hop-dong">
                    <div class="items-layer">
                        <img src="../images/items/items_soluonghopdong.png" />
                        <br />
                        <div class="title">
                            SỐ HỢP ĐỒNG/TV
                        </div>
                        <div class="items-content">
                            <div>- Kiến thức, kỹ năng của tư vấn..., đãn đến bán hàng chưa đúng nhu cầu cho khách hàng</div>

                            <div>- Chất lượng nguồn ứng viên đầu vào có trình độ thấp</div>

                        </div>
                    </div>
                </a>
            </div>

             

        </div>

    </div>
</div>
