@page "/kpi/ty-le-hoat-dong"
<link href="../css/kpi/kpipages.css" rel="stylesheet" />
<link href="../css/kpi/kpi-content-details.css" rel="stylesheet" />
<div class="khung-kpi" data-aos="fade-up">

    <div class="banner">
        <img src="../images/page_kpi/KPI_tilehoatdong.png" />
    </div>

    <div class="khung-conent">
        <div class="layout-khung">
            <div class="layout-khung-conent">
                <div class="content">
                    <div class="title">KPI TỶ LỆ HOẠT ĐỘNG</div>

                    <div class="khung-kpi-khac"> 
                        <div class="kpi-chitiet">
                              <div class="content-details">

           

                            <div class="items-content">
                                <div class="items">
                                <img src="../images/image_tylehoatdong_icon/01_tang_truong_doanh_thu.png" />
                                <span>1. Mức tăng trưởng doanh thu hàng tháng</span>
                            </div>


                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/02_tiepcankhachhang.png" />
                                <span>2. Tiếp cận khách hàng ( Số cuộc gọi và email của mỗi tư vấn bán hàng )</span>
                            </div>


                            <div class="items">
                                    <img src="../images/image_tylehoatdong_icon/03_co_hoi_ban_hang_duoc_tao_ra.png" />
                                    <span>3. Cơ hội bán hàng được tạo ra </span>
                            </div>


                            <div class="items">
                                    <img src="../images/image_tylehoatdong_icon/04_so_cuoc_goi_tiep_can_va_demo.png" />
                                    <span>4. Số cuộc gọi tiếp cận và demo đã thực hiện mỗi tháng </span>
                            </div>


                            <div class="items">
                                    <img src="../images/image_tylehoatdong_icon/05_ty_le_chuyen_doi_khach_hang_tiem_nang.png" />                                
                                    <span>5. Tỷ lệ chuyển đổi khách hàng tiềm năng </span>
                            </div>

                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/06_doanh_thu_theo_tung_phuong_thuc_kinh_doanh.png" />
                                 <span>6. Doanh thu theo từng phương thức kinh doanh</span>
                            </div>

                            
                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/07_thoi_gian_chuyen_doi_trung_binh.png" />
                                        <span>7. Thời gian chuyển đổi trung bình</span>
                            </div>

                            
                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/08_chi_phi_bo_ra_co_duoc_khach_hang.png" />
                                        <span>8. Chi phí phải bỏ ra để có được một khách hàng mới</span>
                            </div>


                            
                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/09_gia_tri_tu_khach_hang.png" />
                                        <span>9. Giá trị từ khách hàng </span>
                            </div>

                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/10_chi_so_rmm_moi_mo_rong.png" />
                                        <span>10. Chỉ số MRR mới và mở rộng </span>
                            </div>


                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/11_gia_tri_toan_bo_pheu_ban_hang.png" />
                                        <span>11. Giá trị của toàn bộ phễu bán hàng </span>
                            </div>


                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/12_doanh_so_muc_tieu.png" />
                                        <span>12. Doanh số mục tiêu </span>
                            </div>


                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/13_doanh_so_theo_khu_vuc.png" />
                                        <span>13. Doanh thu theo từng khu vực, văn phòng kinh doanh </span>
                            </div>

                            <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/14_gia_tri_trung_binh_tung_hop_dong.png" />
                                <span>14. Giá trị trung bình của từng hợp đồng  </span>
                            </div>

                              <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/15_ty_suat_loi_nhuan_binh_quan.png" />
                                        <span>15. Tỷ suất lợi nhuận bình quân  </span>
                            </div>

                              <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/16_ty_le_giu_chan_khach_hang.png" />
                                        <span>16. Tỷ lệ giữ chân được khách hàng và tỷ lệ mất khách hàng  </span>
                            </div>

                              <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/17_hieu_suat_san_pham.png" />
                                        <span>17. Hiệu suất sản phẩm </span>
                            </div>

                              <div class="items">
                                        <img src="../images/image_tylehoatdong_icon/18_hieu_suat_va_thanh_tich.png" />
                                        <span>18. Hiệu suất và thành tích của đại diện bán hàng  </span>
                            </div>
                             

                        </div> 
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <WEB_CTY.Components.Baohiem.Baohiem_lienhe />


     







</div>





<div class="khung-item-kpis">

    <div class="title">
        <div class="title-content">
            KPI KHÁC
        </div>

    </div>
    <div class="kpi-chitiet">

        <div class="khung-items" >

            <div class="items">
                <a href="/kpi/tuyen-dung">
                    <div class="items-layer">
                       
                        <img src="../images/items/items_tuyendung.png" />
                        <br />
                        <div class="title">
                            TUYỂN DỤNG
                        </div>
                        <div class="items-content">
                            <div>- Khó khăn trong việc thu hút nguồn ứng viên tiềm năn...!</div>

                            <div>- Khó khăn trong việc quản lý hồ sơ ứng viên...!</div>

                            <div>- Sự cạnh tranh nội bộ trong ngành và các ngành khác...!</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="items">
                <a href="/kpi/so-luong-hop-dong">
                    <div class="items-layer">
                        <img src="../images/items/items_soluonghopdong.png" />
                        <br />
                        <div class="title">
                            SỐ HỢP ĐỒNG/TV
                        </div>
                        <div class="items-content">
                            <div>- Kiến thức, kỹ năng của tư vấn..., đãn đến bán hàng chưa đúng nhu cầu cho khách hàng</div>

                            <div>- Chất lượng nguồn ứng viên đầu vào có trình độ thấp</div>

                        </div>
                    </div>
                </a>
            </div>


            <div class="items">
                <a href="/kpi/do-lon-hop-dong">
                    <div class="items-layer">
                        <img src="../images/items/items_dolonhopdong.png" />
                        <br />
                        <div class="title">
                            ĐỘ LỚN HỢP ĐỒNG
                        </div>
                        <div class="items-content">
                            <div>- Đội ngũ tư vấn toàn thời gian thấp (team full quá ít)</div>
                            <div>- Công cụ hỗ trợ cho triển khai bán hàng</div>
                            <div>- Kiến thức, kỹ năng trang bị cho đội ngũ tư vấn mới chưa đủ để tự lập, tư vấn xuống SA sau vài tháng</div>
                        </div>
                    </div>
                </a>
            </div>


        </div>

    </div>
</div>



@code {

}
