@page "/kpi/{chisi_kpi}"
<link href="../css/kpi/kpipages.css" rel="stylesheet" />
<div class="khung-kpi" data-aos="fade-up">

    <div class="banner">
        
    </div>

    <div class="khung-conent">
           <div class="layout-khung">
                <div class="layout-khung-conent">
                    <div class="content">                       
                    <div class="title">KPI TUYỂN DỤNG</div>

                    <div class="khung-kpi-khac">

                        <div class="title">
                            <div class="title-content ">
                                KPI KHÁC
                            </div>
                            
                        </div>
                        <div class="kpi-chitiet">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <WEB_CTY.Components.Baohiem.Baohiem_lienhe />



    <div class="khung-kpi-khac">

    
        <div class="kpi-chitiet">

            <div class="khung-item-kpis" data-aos="fade-up">

                <div class="layout-khung">
                    <div class="layout-khung-conent">
                        <div class="content">
                            <div class="khung-kpi-khac">

                                <div class="khung-kpi-khac-title">
                                    <div class="title-content">
                                        KPI KHÁC
                                    </div>

                                </div>
                                <div class="kpi-chitiet">

                                    <div class="khung-items" data-aos="fade-up">
                                        <div class="items">
                                            <div class="items-layer">
                                                <img src="../images/items/items_tuyendung.png" />

                                                <br />
                                                <div class="title">
                                                    TUYỂN DỤNG
                                                </div>
                                                <div class="items-content">
                                                    <div>- Khó khăn trong việc thu hút nguồn ứng viên tiềm năng...!</div>

                                                    <div>- Khó khăn trong việc quản lý hồ sơ ứng viên...!</div>

                                                    <div>- Sự cạnh tranh nội bộ trong ngành và các ngành khác...!</div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="items" data-aos="fade-up">
                                            <div class="items-layer">
                                                <img src="../images/items/items_tilehoatdong.png" />
                                                <br />
                                                <div class="title">
                                                    TỶ LỆ HOẠT ĐỘNG
                                                </div>
                                                <div class="items-content">
                                                    <div>- Tỷ lệ hệ thống đại lý làm việc bán thời gian nhiều</div>

                                                    <div>- Hệ thống quản lý không thể sát sao đến từng thành viên</div>

                                                    <div>- Các chương trình hướng dẫn, đào tạo, công cụ cũng còn hạn chế... </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="items" data-aos="fade-up">
                                            <div class="items-layer">
                                                <img src="../images/items/items_soluonghopdong.png" />
                                                <br />
                                                <div class="title">
                                                    SỐ LƯỢNG HỢP ĐỒNG
                                                </div>
                                                <div class="items-content">
                                                    <div>- Kiến thức, kỹ năng của tư vấn..., đãn đến bán hàng chưa đúng nhu cầu cho khách hàng</div>

                                                    <div>- Chất lượng nguồn ứng viên đầu vào có trình độ thấp</div>

                                                </div>
                                            </div>

                                        </div>


                                        <div class="items" data-aos="fade-up">
                                            <div class="items-layer">
                                                <img src="../images/items/items_dolonhopdong.png" />
                                                <br />
                                                <div class="title">
                                                    ĐỘ LỚN HỢP ĐỒNG
                                                </div>
                                                <div class="items-content">
                                                    <div>- Đội ngũ tư vấn toàn thời gian thấp (team full quá ít)</div>
                                                    <div>- Công cụ hỗ trợ cho triển khai bán hàng</div>
                                                    <div>- Kiến thức, kỹ năng trang bị cho đội ngũ tư vấn mới chưa đủ để tự lập, tư vấn xuống SA sau vài tháng</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

   





</div>



@code {

}
