@page "/lien-he"
<div class="khung-lienhe" data-aos="fade-up">

    <div class="layout-khung">
        <div class="layout-khung-conent">
            <div class="content">
                <div class="khung-hethong">
                   
                    <div class="-content-body">
                        <div class="layert-01" data-aos="fade-up">
                            
                        </div>
                        <div class="-left" data-aos="fade-up">
                            <img src="../images/background/lienhe_items.png" />

                            <div class="tencongty">CTY THE WORLD LINK</div>
                            <br />
                            <div class="thoigianmocua"><span>Thời gian mở cửa:</span>Từ thứ 2 - thứ 7</div>
                            <br />

                            <div class="diachi items-i" data-aos="fade-up">
                                <i class="fa fa-home"></i>
                                P402, Tòa nhà NNC, 16bis Nguyễn Đình Chiểu, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh, Việt Nam
                            </div>

                            <div class="dienthoai items-i" data-aos="fade-up">
                                <i class="fa fa-phone"></i>
                               
                                0888702277
                            </div>

                            <div class="email items-i" data-aos="fade-up">
                                <span class="material-symbols-outlined">fax</span>
                                0888702277

                            </div>

                            <div class="email items-i" data-aos="fade-up">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                twl@theworldlink.vn
                                 
                            </div>
                           
                          

                        </div>


                        <div class="-right" data-aos="fade-up">
                            <img src="../images/hethong/building_nnc.jpg" />
                        </div>


                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

@code {


}



<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

