 
<div class="baohiem-khung">
    <div class="khung-absolute">


        <div class="layout-khung">
        <div class="layout-khung-conent">
            <div class="content">
                    <div class="baohiem-content">

                        <table>
                        <tr>
                            <td colspan="2" >
                                <div class="title">
                                    BẠN CÓ MUỐN TÌM HIỂU VÀ CẦN TƯ VẤN THÊM?                                     
                                </div>
                            </td>
                           
                        </tr>
                        <tr>
                            <td>Tên</td>
                            <td> <input  class="form-control" placeholder="Tên"/> </td>
                        </tr>
                        <tr>
                            <td>Điện thoại</td>
                            <td> <input class="form-control" placeholder="Điện thoại" /> </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td> <input class="form-control" placeholder="Email" /> </td>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td> <input class="form-control" placeholder="Địa chỉ" /> </td>
                        </tr>

                          <tr>
                            <td></td>
                            <td><button class="btn btn-success">GỬI THÔNG TIN </button> </td>
                        </tr>


                        </table>

                </div>



            </div>
        </div>
    </div>

    </div>

   
</div>
