<div class="khung-banner" data-aos="fade-up">
   

   
    <img src="../images/hethong/banner-trangchu.png" />   


   @* <div class="banner-content">
   


        <div class="items">
            <label>SỐ HÓA <br /> DỮ LIỆU</label>
        </div>
        <div class="items">
            <label>SỐ HÓA <br /> QUY TRÌNH</label>
        </div>
        <div class="items">
            <label>CHUYỂN <br /> ĐỔI SỐ</label>
        </div>

        <div class="toasang">
            <span></span>
            <div class="line-bottom"> </div>
        </div>

     <div class="block"></div>
      
    </div>*@

</div>


@code {

}
