@* <div class="gioithieu-khung">

    <div class="layout-khung">
        <div class="layout-khung-conent">
            <div class="content">

            </div>
        </div>
    </div>


 </div>
@code {

}*@



<div class="gioithieu-khung">
    <div class="khung-absolute">


        <div class="layout-khung" data-aos="fade-up">
            <div class="layout-khung-conent">
                <div class="content">
                    <div class="baohiem-content">
                        <div class="left">
                            <div class="img-layer-01">
                                <div class="khung">
                                    <img src="../images/hethong/logo.png" />
                                </div>
                            </div>
                            <div class="img-layer-02">
                                <img src="../images/nhanvien/nhomnguoi_huonglen.png" />
                            </div>
                            @*<img src="../images/nhanvien/anhquan_ceo_twl.png" />*@
                        </div>

                        <div class="right">
                            <div class="right-conten">
                                <div class="layer-01">
                                    
                                    
                                    Với sự tăng trưởng trong ngành bảo hiểm nhân thọ hiện nay,
                                     sự giảm sút tỉ trọng doanh số phí mới của kênh bảo hiểm truyển thống chỉ còn chiếm 30-40%.
                                    @*kênh bancansurance (kênh hợp tác với ngân hàng) và kênh đại lý tổ chức( broker) chiếm tới 60-70% doanh số mới của các công ty bảo hiểm
*@
                                    Với kinh ngiệm hơn 20 năm làm việc trong các tập đoàn hàng đầu về bảo hiểm nhân thọ như:
                                    <label class="font-weight">PRUDENTIAL, DAIICHI LIFE, HANWHA LIFE, SUN LIFE,... </label>                                    
                                    <br />
                                    Đội ngũ chúng tôi đã tìm ra được giải pháp và xây dựng hệ thống: <label class="font-weight-center">"CHUYỂN ĐỔI SỐ CHO NGÀNH BẢO HIỂM NHÂN THỌ"</label>
                                    <br />
                                    Chuyển đổi số với TheWorldLink :
                                    <br />
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i> Là sự thay đổi tổng thể của cá nhân, tổ chức về cách làm việc và phương thức vận hành dựa trên các công nghệ số.
                                    <br />
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i> Ứng dụng công nghệ thông tin là tối ưu hóa quy trình và mô hình hoạt động, để cung cấp dịch vụ giá trị chất lượng hơn.
                                    <br />
                                    <lable class="font-weight"><i class="fa fa-star" aria-hidden="true"></i> Đặc biệt</lable> các hoạt động được chuyển đổi số trên hệ thống internet với công nghệ 4.0 sẽ tạo ra công cụ khác biệt trong việc triển khai các hoạt động kinh doanh cho đội ngũ bán hàng, tuyển dụng và quản lý các hoạt động.

                            </div>
                            </div>

                        </div>

                      
                    </div>



                </div>
            </div>
        </div>

    </div>


</div>
