 
<div class="tinhnang-sanpham-khung" data-aos="fade-up">
    <div class="khung-absolute">


        <div class="layout-khung" >
            <div class="layout-khung-conent">
                <div class="content">
                    <div class="baohiem-content">
                        <div class="title">
                            <span> LỢI ÍCH & GIÁ TRỊ CỦA CHUYỂN ĐỔI SỐ</span>
                            <br />
                            <span>Hỗ trợ quản trị điều hành - nâng cao hiệu quả hoạt động - tăng trưởng doanh số</span>                            
                        </div>
                        <div class="items-ds">
                            <div class="items" data-aos="fade-up">
                                <div class="title">
                                    <div class="left">
                                        <img src="../images/items/loiich_hethong/nangvaonangsuat_lamviec.png" />
                                    </div>

                                    <div class="right">
                                        <span>
                                            Nâng cao <label>năng suất làm việc</label>
                                        </span>
                                    </div>
                                </div>   
                                
                                <div class="items-content">
                                    <label>
                                        Tự động hạch toán từ: Hóa đơn, Bảng Excel…
                                    </label>
                                    <label>
                                        Tự động tổng hợp báo cáo thuế, BCTC chính xác, nhanh chóng.
                                    </label>
                                    
                                </div>
                            </div>


                            <div class="items" data-aos="fade-up">
                                <a href="/">
                                <div class="title">
                                    <div class="left">
                                        <img src="../images/items/loiich_hethong/chiphi_doanhnghiep.png" />
                                    </div>

                                    <div class="right">
                                        <span>
                                            <label>Tiết kiệm chi phí</label> liên quan đến văn phòng, thiết bị cho doanh nghiệp
                                        </span>
                                    </div>
                                   
                                </div>
                                <div class="items-content">
                                    <label>
                                        Giám đốc luôn nắm được tình hình tài chính:
                                    </label>
                                    <label>
                                        Doanh thu, Lợi nhuận, Chi phí, Dòng tiền, Công nợ, Tồn kho… mọi lúc, mọi nơi giúp kịp thời ra quyết định điều hành.
                                    </label>
                                    
                                </div>
                                </a>
                            </div>

                            <div class="items" data-aos="fade-up">
                                <div class="title">
                                    <div class="left">
                                        <img src="../images/items/loiich_hethong/khonggioihandetiepcan.png" />
                                    </div>

                                    <div class="right">
                                        <span>
                                            Không bị giới hạn và <label>dễ dàng tiếp cận</label>
                                        </span>
                                    </div>
                                </div>
                              
                                <div class="items-content">
                                    <label>                                    
                                        Không cần cài đặt, hướng dẫn sử dụng chi tiết, giao diện trực quan giúp người dùng dễ tiếp cận.
                                    </label>
                                </div>
                            </div>


                            <div class="items" data-aos="fade-up">
                                    <div class="title">
                                    <div class="left">
                                        <img src="../images/items/loiich_hethong/baomatdulieu.png" />
                                    </div>

                                    <div class="right">
                                        <span>
                                            <label>Bảo mật</label> trong truy cập dữ liệu
                                        </span>
                                    </div>
                                </div>


                              
                                <div class="items-content">
                                    <label>
                                        Không cần cài đặt, hướng dẫn sử dụng chi tiết,
                                        <label>giao diện trực quan</label> giúp người dùng dễ tiếp cận
                                    </label>
                                </div>
                            </div>

                            
                            <div class="items" data-aos="fade-up">


                                    <div class="title">
                                    <div class="left">
                                        <img src="../images/items/loiich_hethong/limited_risk.png" />
                                    </div>

                                    <div class="right">
                                        <span>
                                            <label>Hạn chế rủi ro</label> của tài liệu sau thảm họa
                                        </span>
                                    </div>
                                </div>


                              
                                <div class="items-content">
                                    <label>
                                        Không cần cài đặt, hướng dẫn sử dụng chi tiết, giao diện trực quan giúp người dùng dễ tiếp cận.
                                    </label>
                                </div>
                            </div>

                            <div class="items" data-aos="fade-up">


                                <div class="title">
                                    <div class="left">                                        
                                        <img src="../images/items/loiich_hethong/sohoadoanhnghiep.png" />
                                    </div>

                                    <div class="right">
                                        <span>
                                            Số hóa doanh nghiệp giúp <label>bảo mật thông tin</label>
                                        </span>
                                    </div>
                                </div>



                                <div class="items-content">
                                    <label>
                                        Không cần cài đặt, hướng dẫn sử dụng chi tiết, giao diện trực quan giúp người dùng dễ tiếp cận.
                                    </label>
                                </div>
                            </div>


                        </div>

                    </div>



                </div>
            </div>
        </div>

    </div>


</div>
